@model StromViewModel
@{
    ViewData["Title"] = "Strøm";
}
<h3>@ViewData["Title"]</h3>
@Html.Partial("_StatusMessage", Model.StatusMessage)

<h4>Data fra Tibber</h4>

<hr />
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="row">
                @Html.DisplayFor(x => x.Navn)
            </div>
            <div class="row">
                @Html.DisplayFor(x => x.Adresse)
            </div>
            <div class="row">
                @Html.DisplayFor(x => x.Postnummer)
            </div>
            <div class="row">
                @Html.DisplayFor(x => x.Poststed)
            </div>
            <div class="row">
                @Html.DisplayFor(x => x.Land)
            </div>
        </div>

        <div class="col-md-6">
            <div class="row">
                <div class="col-md-4">
                    Strømpris totalt
                </div>
                <div class="col-md-4">
                    @Html.DisplayFor(x => x.StromprisTotal) øre / kWh
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    Strømpris energi
                </div>
                <div class="col-md-4">
                    @Html.DisplayFor(x => x.StromprisEnergi) øre / kWh
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    Strømpris avgift
                </div>
                <div class="col-md-4">
                    @Html.DisplayFor(x => x.StromprisAvgift) øre / kWh
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    Gjelder fra
                </div>
                <div class="col-md-4">
                    @Html.DisplayFor(x => x.StromprisGjelderFra)
                </div>
            </div>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-10">
            <table class="table">
                <thead>
                    <tr>
                        <th>Måned</th>
                        <th>Beløp</th>
                        <th>Forbruk</th>
                        <th>Pris</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Consumption)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.FormattedDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Cost)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ConsumptionInPeriod) kWh
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Price) øre / kWh
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-10">
            <table class="table">
                <thead>
                    <tr>
                        <th>Tid</th>
                        <th>Beløp</th>
                        <th>Forbruk</th>
                        <th>Pris</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.ConsumptionHourly)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.FormattedDateTime)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Cost)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ConsumptionInPeriod) kWh
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Price) øre / kWh
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

    </div>
</div>




