@model TypeViewModel
@using NavneVelger.Views.Panini
@{
    ViewData["Title"] = "Bok Type";
    ViewData.AddActivePaniniPage(ManagePaniniPages.Type);
}

<h4>@ViewData["Title"]</h4>
@Html.Partial("_StatusMessage", Model.StatusMessage)
<div class="row">
    <div class="col-md-6">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Navn"></label>
                <input asp-for="Navn" class="form-control" />
                <span asp-validation-for="Navn" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-default">Legg til boktype</button>
        </form>
    </div>
</div>
<br />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Navn)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.BokTyper)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td class="@ManagePaniniPages.TypeNavClass(ViewContext)">
                    <a asp-action="DeleteType" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
